@import '../../css/variables';

.performance-section {
  height: 95vh;
  background-image: url('../../assets/images/performance.png');
  background-size: cover;
  display: flex;
  transition: all 0.5s ease;
}

.items-wrapper {
  display: inline-flex;
  position: relative;
  height: 85vh;
  width: 100vw;
  margin-top: 2rem;
}

.performance-items {
    display: flex;
    position: absolute;
    z-index: 2;
    background-color: $main-blue;
    overflow: hidden;
    width: 55%;
    height: 60%;
    transition: all 0.5s ease;
}

.item-one {
  top: 10%;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  justify-content: flex-end;
}

.item-two {
  right: 0;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  top: 35%;
}

.performance-item-title-left {
  margin-right: 11rem;
  margin-top: 3rem;
  font-family: $text-font-family;
  color: $main-white;
  font-size: 2.5rem;
}

.performance-item-title-right {
  margin-left: 11rem;
  margin-top: 15rem;
  font-family: $text-font-family;
  color: $main-white;
  font-size: 2.5rem;
}

.hover-element {
  visibility: hidden;
}

.red-background {
  background-color: $main-red;
  color: #ffff;
  position: absolute;
  height: 100%;
  width: 80%;
  opacity: 0.8;
  clip-path: polygon(17% 0, 100% 0, 85% 100%, 0 100%);
  right: 10%;
  transition: all 0.5s ease;
  z-index: 1;
}

.move-right {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 60%;
  right: 0;
  padding: 0 2% 0 20%;

  .hide-section {
    display: inline;
  }
  .red-background-content-right {
    display: none;
  }
}

.move-left {
  clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0 100%);
  width: 60%;
  left: 0;
  padding: 0 20% 0 2%;

  .hide-section {
    display: inline;
  }

  .red-background-content-left {
    display: none;
  }
}

.hide-section {
  display: none;
}

.red-background-title {
  display: block;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.red-background-text {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.7rem;
}

@media (max-width: $xs-screen) {
  .performance-section {
    display: none;
  }
}