@import '../../css/variables';

.performance-mobile {
  display: none;
}

@media (max-width: $xs-screen) {
  .performance-mobile {
    display: inline-block;
    position: relative;

    a { text-decoration: none; }
  }

  .performance-container { position: relative; }

  .see-more-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: clamp(18px, 10vw, 26px);
    position: relative;
    z-index: 3;
  }

  .performance-mobile-sport {
    background-image: url('../../assets/images/sport.png');
    background-size: 100% 100%;
    padding: 5% 13% 5% 2%;

    .red-overlay {
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    }

    p { text-align: left; }
  }

  .performance-mobile-business {
    background-image: url('../../assets/images/business.png');
    background-size: 100% 100%;
    padding: 5% 2% 5% 13%;

    .red-overlay {
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    }

    p { text-align: right; }
  }

  .red-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #b521279e;
    z-index: 1;
  }

  .performance-mobile-title {
    margin: 0;
    font-family: $text-font-family;
    color: $main-white;
    z-index: 2;
    position: relative;
  }

  .performance-mobile-subtitle {
    color: $main-white;
    z-index: 2;
    position: relative;
  }

  .performance-mobile-text {
    font-family: $book-font-family;
    color: $main-white;
    margin: 0;
    padding: 0 5% 5% 5%;
    z-index: 2;
    position: relative;
  }
}