@import '../../../css/variables';

.our-mission-section {
  height: 100vh;
  background-image: url('../../../assets/images/ourmission.jpg');
  background-size: cover;
  margin-top: 0;
}

.our-mission-back-arrow {
  font-family: $book-font-family;
  font-size: 2rem;
  height: 10%;
  width: 10%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  margin: 1rem 0 0 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.our-mission-span {
  display: flex;
  align-items: center;
}

.our-mission-title {
  font-family: $text-font-family;
  display: flex;
  justify-content: flex-end;
  font-size: 3.5rem;
  color: #FFFFFF;
  position: relative;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.our-mission-text {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
}

.our-mission-link {
  font-family: $text-font-family;
  display: block;
  position: relative;
  margin: 0 2rem 0 0;
  font-size: 2rem;
  text-align: right;
  padding: 0.5rem 0;
}

.elite {
  color: #FFFFFF;
  padding-right: 1rem;
  border-radius: 1rem;

  &:hover {
    background-color: $main-red;
    transition: all 0.3s;
  }
}

.co {
  color: $main-blue;
  padding-right: 1rem;
  border-radius: 1rem;

  &:hover {
    background-color: #FFFFFF;
    transition: all 0.3s;
  }
}

.executive {
  color: $main-red;
  padding-right: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;

  &:hover {
    background-color: $main-blue;
    transition: all 0.3s;
  }
}

.our-mission-white-overlay {
  clip-path: polygon(0 0, 41% 0, 20% 100%, 0% 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #ffff;
  z-index: 1;
}

.our-mission-blue-overlay {
  clip-path: polygon(36% 0, 41% 0, 24% 100%, 19% 100%);
  background-color: $main-blue;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.our-mission-red-overlay {
  clip-path: polygon(36% 0, 41% 0, 24% 100%, 19% 100%);
  background-color: $main-red;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 4rem;
  z-index: 2;
}

.our-mission-links {
  text-decoration: none;
  width: 44%;
}