@import '../../css/variables';

.home-wrapper {
  background-image: url('../../assets/images/banner_fondo_1_con_transparencia.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title-one {
  padding-top: 7%;
}

.home-title-two {
  font-family: $book-font-family;
  padding-left: 34%;
}

@media (min-width: $md-screen) {
  .home-wrapper {
    height: 100vh;
  }
}

@media (max-width: $xs-screen) {
  .home-wrapper {
    background-size: 100% 100%;
  }

  .home-title-one {
    font-size: 3rem;
  }

  .home-title-two {
    padding-left: 0;
    margin-top: 15%;
  }
}