@import '../../css/variables';

.home-wrapper {
  background-image: url('../../assets/images/banner_fondo_1_con_transparencia.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title-one {
  font-family: $text-font-family;
  color: #FFF;
  font-size: 4rem;
  margin: 0;
  padding-top: 7%;
}

.home-title-two {
  font-family: $book-font-family;
  color: #FFF;
  font-size: 2.5rem;
  padding-left: 34%;
}

@media (max-width: $xs-screen) {
  .home-wrapper {
    background-size: 100% 100%;
  }

  .home-title-one {
    font-size: 3rem;
  }

  .home-title-two {
    font-size: 1.5rem;
    padding-left: 0;
    margin-top: 15%;
  }
}