@import '../../css/variables';

.home-wrapper {
  background-image: url('../../assets/images/banner_fondo_1_con_transparencia.png');
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-title-one {
  font-family: $text-font-family;
  color: #FFF;
  font-size: 4rem;
  position: absolute;
  top: 45vh;
  left: 32vh;
}

.home-title-two {
  font-family: $book-font-family;
  color: #FFF;
  font-size: 2.5rem;
  position: absolute;
  top: 60vh;
  left: 90vh;
  margin-top: 2.5rem;
}