@import '../../css/variables';

.contact-section {
  background-image: url('../../assets/images/contact-fondo-transparencia.png');
  background-size: cover;
  height: 100vh;
  display: inline-flex;
  width: 100%;
}
.contact-logo {
  width: 35%;
  position: relative;
  left: 13rem;
}
.contact-info-wrapper {
  display: inline;
  margin-top: 7rem;

}
.contact-content {
  color: #FFFFFF;
  font-size: 1.3rem;
  text-align: right;
  margin-right: 2rem;
  margin-top: 6rem;

  .country {
    font-size: 2rem;
    font-family: $book-font-family;
  }
}
.contact-info-item {
  margin: 0.7rem 0;
}
