@import '../../css/variables';

.contact-section {
  background-image: url('../../assets/images/contact.png');
  background-size: cover;
  background-position: center;
  padding: 0 3%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.contact-logo {
  width: 80%;
}

.contact-content {
  display: flex;
  align-items: flex-end;
  color: $main-white;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10%;
  width: 100%;

  .country {
    font-size: 2rem;
    font-family: $book-font-family;
  }
}

.contact-text {
  font-size: 1.3rem;
  text-align: right;
}

.contact-info-item {
  margin: 0.7rem 0;
}

.contact-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffff;
  opacity: 0.5;
  clip-path: polygon(0 0, 70% 0, 55% 100%, 0% 100%);
  z-index: 1;
}

@media (max-width: $xs-screen) {
  .contact-section {
    background-size: 100% 100%;
  }
}

@media (min-width: $md-screen) {
  .contact-section {
    height: 100vh;
    padding-left: 5%;
    padding-right: 3%;
    justify-content: space-between;
    flex-direction: row;
  }

  .contact-content {
    height: 50%;
    width: 35%;
  }
}