@import '../../css/variables';

.header-wrapper {
  display: inline-flex;
  margin: 0;
  background-color: $main-red;
}

.header-image-wrapper {
  background-color: $main-blue;
  width: 52%;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.header-image {
  width: 35%;
  position: relative;
  top: 0.5rem;
  bottom: 1rem;
  right: 3.5rem;
  padding: 0.2rem 0 1.5rem 0;
}

.nav-menu {
  display: inline-flex;
  background-color: $main-red;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  position: relative;
  padding-top: 0.5rem;
  padding-left: 10rem;
}

.nav-element {
  margin: 0 1rem;
  font-size: 0.85rem;
  display: inline-block;
  width: 7rem;
  font-family: $medium-font-family;
  padding-top: 1.5rem;

  a {
    text-decoration: none;
    color: #FFF;
  }
  &:hover {
    opacity: 0.3;
    transition: all 0.5s;
  }
}