@import '../../../../css/variables';

.our-mission-container {
  height: 100vh;
  display: inline-flex;
  position: relative;
}

.our-mission-item-wrapper {
  width: 50%;
  padding: 2rem 0 0 1.5rem;
  z-index: 2;
}

.our-mission-item-title {
  font-family: $text-font-family;
  text-align: left;
}

.our-mission-item-text {
  text-align: left;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-family: $book-font-family;
}

.our-mission-item-link-wrapper {
  font-family: $text-font-family;
  font-size: 1.2rem;
  width: 30%;
  text-align: right;
  position: relative;
  left: 12rem;
  padding-top: 26rem;
  z-index: 2;
}

.our-mission-item-first-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  clip-path: polygon(0 0, 70% 0, 55% 100%, 0% 100%);
  z-index: 1;
}

.our-mission-item-second-overlay {
  clip-path: polygon(100% 0, 70% 0, 55% 100%, 100% 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.our-mission-item-back-arrow {
  font-family: $book-font-family;
  font-size: 2rem;
  height: 20%;
  position: relative;
  bottom: 25rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  z-index: 2;
}

.our-mission-item-back-arrow:hover{
  text-decoration: underline;
}

.our-mission-item-links {
  text-decoration: none;
  font-size: 1.2rem;
}


.our-mission-elite {
  background-image: url('../../../../assets/images/image-elite.jpg');
  background-size: cover;

  .our-mission-item-link-one {
    color: $main-blue;
    border-radius: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: $main-red;
      transition: all 0.3s;
    }
  }

  .our-mission-item-link-two {
    color: $main-red;
    border-radius: 1rem;
    padding-right: 1rem;


    &:hover {
      background-color: $main-blue;
      transition: all 0.3s;
    }
  }

  .our-mission-item-first-overlay {
    background-color: $main-white;
  }

  .our-mission-item-second-overlay {
    background-color: $main-white;
  }
}

.our-mission-co {
  background-image: url('../../../../assets/images/image-codevelopment.jpg');
  background-size: cover;
  color: $main-white;

  .our-mission-item-link-one {
    color: $main-red;
    border-radius: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: $main-white;
      transition: all 0.3s;
    }
  }

  .our-mission-item-link-two {
    color: #FFF;
    border-radius: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: $main-red;
      transition: all 0.3s;
    }
  }

  .our-mission-item-first-overlay {
    background-color: $main-blue;
  }

  .our-mission-item-second-overlay {
    background-color: $main-blue;
  }

  .our-mission-item-back-arrow {
    color: $main-white;
  }
}

.our-mission-executive {
  background-image: url('../../../../assets/images/executive.jpg');
  background-size: cover;
  color: $main-white;

  .our-mission-item-link-one {
    color: #FFF;
    border-radius: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: $main-blue;
      transition: all 0.3s;
    }
  }

  .our-mission-item-link-two {
    color: $main-blue;
    border-radius: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: $main-white;
      transition: all 0.3s;
    }
  }

  .our-mission-item-first-overlay {
    background-color: $main-red;
  }

  .our-mission-item-second-overlay {
    background-color: $main-red;
  }

  .our-mission-item-back-arrow {
    color: $main-white;
  }
}

@media (max-width: $xs-screen) {
  .our-mission-item-back-arrow {
    position: initial;
  }
}